/* .main-page_scroll_smooth {
  scroll-behavior: smooth;
  после окончательной проверки создать 
  блок для <html> и добавить это через 
  модификатор для плавной прокрутки */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
