.resources__logo {
  margin: 0;
  padding: 0;
  width: 270px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
}

.resources__logo:hover {
  opacity: 0.4;
}
